# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# VS Code settings
.vscode/

# Python packaging
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.pyre/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyCharm
.idea/

# dotenv files
.env
.env.*

# SQLite database
*.sqlite3
*.db

# Docker
**/__pycache__/
**/*.pyc
